<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>姓名案例-计算属性</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        全名：<span>{{fullName}}</span>
    </div>
  </body>

  <script type="text/javascript">
    new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        computed: {
          // 完整写法
          // fullName: {
          //   get() {
          //     return this.firstName + '-' + this.lastName;
          //   },
          //   set() {
          //     // ...
          //   }
          // }

          // 简写：当计算属性中只用来获取的时候，才可以简写
          fullName() {
            return this.firstName + '-' + this.lastName;
          }
        }
    })
  </script>
</html>
