<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>收集表单数据</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 
			收集表单数据：
					若：<input type="text"/>，则v-model收集的是value值，用户输入的就是value值。
					若：<input type="radio"/>，则v-model收集的是value值，且要给标签配置value值。
					若：<input type="checkbox"/>
							1.没有配置input的value属性，那么收集的就是checked（勾选 or 未勾选，是布尔值）
							2.配置input的value属性:
									(1)v-model的初始值是非数组，那么收集的就是checked（勾选 or 未勾选，是布尔值）
									(2)v-model的初始值是数组，那么收集的的就是value组成的数组
					备注：v-model的三个修饰符：
									lazy：失去焦点再收集数据
									number：输入字符串转为有效的数字
									trim：输入首尾空格过滤
		-->
    <div id="root">
      <form action="" @submit.prevent="demo">
        账号：<input type="text" v-model.trim="account" />
        <br />
        <br />
        密码：<input type="password" name="" id="" v-model="password" />
        <br />
        <br />
        年龄：<input type="text" v-model.number="age" />
        <br />
        <br />
        性别： 男<input type="radio" name="sex" value="man" v-model="sex" />
        女<input type="radio" name="sex" value="woman" v-model="sex" />
        <br />
        <br />
        爱好： 抽烟<input
          type="checkbox"
          name="hobby"
          value="smoke"
          v-model="hobby"
        />
        喝酒<input type="checkbox" name="hobby" value="drink" v-model="hobby" />
        烫头<input type="checkbox" name="hobby" value="hair" v-model="hobby" />
        <br />
        <br />
        所属校区:
        <select name="school" id="" v-model="city">
          <option value="init" checked>请选择校区</option>
          <option value="beijing">北京校区</option>
          <option value="shanghai">上海校区</option>
          <option value="guangzhou">广州校区</option>
        </select>
        <br />
        <br />
        其他信息：<textarea
          name=""
          id=""
          cols="30"
          rows="10"
          v-model.lazy="other"
        ></textarea>
        <br />
        <br />
        <input
          type="checkbox"
          name="protocol"
          id="protocol"
          v-model="protocol"
        />阅读并接受<a href="#">《用户协议》</a>
        <br />
        <br />
        <input type="submit" value="提交" />
      </form>
    </div>
  </body>

  <script type="text/javascript">
    new Vue({
      el: "#root",
      data: {
        account: "",
        password: "",
        age: "",
        sex: "",
        hobby: [],
        city: "beijing",
        other: "",
        protocol: "",
      },
      methods: {
        demo() {
          console.log(JSON.stringify(this.$data));
        },
      },
    });
  </script>
</html>
